table {
  width: 100%;
  margin-bottom: $spacing-v * 2;
}

tr > {
  td, th {
    border: 0;
    border-bottom: 1px solid $ui-border-color;
    padding: $padding-v;
    padding-left: 0;
  }
}

th,
table caption {
  text-align: left;
}

table caption {

}
