.form-feedback {
  font-size: .875em;
}

.feedback-negative {
  color: $color-comms-negative;
}

.feedback-positive {
  color: $color-comms-positive;
}

.feedback-warning {
  color: $color-comms-warning;
}
