.lead, h2, h3 {
  font-family: $font-sans;
}

h1, h2, h3, h4, h5, h6 {
  color: $base-color;
}

main.wrapper {
  header {
    text-align: center;

    h1, h2, .lead {
      color: $base-color;
    }

    &::after {
      background: $base-color;
    }
  }
}

input {
  color: $input-color;

  &:focus {
    color: $input-color;
  }
}

::-webkit-input-placeholder {
  color: transparentize($input-color, .5);
  opacity: 1;
}

:-moz-placeholder { // Firefox 18-
  color: transparentize($input-color, .5);
  opacity: 1;
}

::-moz-placeholder {  // Firefox 19+
  color: transparentize($input-color, .5);
  opacity: 1;
}

:-ms-input-placeholder {
  color: transparentize($input-color, .5);
  opacity: 1;
}

::placeholder {
  color: transparentize($input-color, .5);
  opacity: 1;
}
