.test-result {
  background: $test-result-bg;
  border: 0 none;
  color: $test-result-color;
  padding-left: 5em + $padding-h * 3;
  position: relative;

  &:before {
    background: $test-result-icon-bg;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    bottom: 0;
    content: '';
    float: left;
    left: 0;
    padding: $padding-v $padding-h;
    position: absolute;
    top: 0;
    width: 5em;
  }

  h3 {
    color: $test-result-color;
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

.score-0,
.score-1 {
  &:before {
    background-color: $low-score-icon-bg;
    background-image: url('../img/faces-02.svg');
  }
}

.score-2,
.score-3 {
  &:before {
    background-color: $medium-score-icon-bg;
    background-image: url('../img/faces-03.svg');
  }
}

.score-4 {
  &:before {
    background-color: $high-score-icon-bg;
    background-image: url('../img/faces-01.svg');
  }
}

.redbullet {
  color: $rb-brand-color;

  &:before {
    background-color: $rb-brand-color;
    background-image: url('../img/rb-logo.svg');
  }

  h3 {
    color: $rb-brand-color;
  }
}
