extends layout

block content
  header
    h1= message
    h2= error.status

  p.lead Here's what the computer said about it. It might be confusing and complicated looking, but <strong>don't panic</strong>.

  pre #{error.stack}
