extends layout

block content
  header
    h1= title

  .post-results(style="display: none;")
    h3 Your Results

    .results


  .pre-results
    h2 Check your site is still rational.

    p We all get a bit confused from time to time. SanityCheck.it will see if your website needs a little love and care.

  .post-results(style="display: none;")
    h3 Try Again

  form
    .form-row
      input#url(type='url',name='url',value='',placeholder='http://super.site')
    .form-row
      button.btn.btn-primary(type='submit') Test this site


