doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
    script.
      // Add JS class to html before we load styles
      var root = document.getElementsByTagName( 'html' )[0];
      root.setAttribute( 'class', 'js' );

      setTimeout(function(){
        if (root.className.indexOf('wf-active') < 0 && root.className.indexOf('wf-inactive') < 0) {
          root.className += ' wf-slow';
        }
      },5000);

    link(rel='apple-touch-icon', sizes='57x57', href='/img/icons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/img/icons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/img/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/img/icons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/img/icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/img/icons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/img/icons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/img/icons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/img/icons/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/img/icons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/img/icons/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/img/icons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/img/icons/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/img/icons/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/img/icons/manifest.json')
    link(rel='mask-icon', href='/img/icons/safari-pinned-tab.svg', color='#2bcfc4')
    meta(name='msapplication-TileColor', content='#2bcfc4')
    meta(name='msapplication-TileImage', content='/img/icons/mstile-144x144.png')
    meta(name='theme-color', content='#2bcfc4')
  body
    main.wrapper(role="main")
      img.logo(src='/img/logo.svg')
      block content

    footer(role="contentinfo")
      p
        a(href="/about") About
      p
        small <a href="http://redbullet.co.uk">2015 Red Bullet</a>

    script(src='/js/main.js')
