doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
    script.
      // Add JS class to html before we load styles
      var root = document.getElementsByTagName( 'html' )[0];
      root.setAttribute( 'class', 'js' );

      setTimeout(function(){
        if (root.className.indexOf('wf-active') < 0 && root.className.indexOf('wf-inactive') < 0) {
          root.className += ' wf-slow';
        }
      },5000);
  body
    main.wrapper(role="main")
      block content

    script(src='/js/main.js')
